{% extends 'base.html.twig' %}

{% block title %}PMS{% endblock %}

{% block body %}
<main class="main">
    <div class="main_wrapper">
        <div class="main_header">
            <h1 class="main_title">Project management system for hobby projects</h1>
        </div>
    </div>
</main>
{% endblock %}
