/* || GENERAL STYLES */

:root{
    --color1: #0F0F0F;
    --color2: #232D3F;
    --color3: #005B41;
    --color4: #008170;
    --color5: #ff4545;
    --color6: #ff0f0f
}

html{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background: rgb(15,15,15);
    background: linear-gradient(120deg, rgba(15,15,15,1) 0%, rgba(0,91,65,1) 60%, rgba(28,34,45,1) 90%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
button{
    font-size: 1rem;
}

footer{
    padding: 0 2em;
    background-color: var(--color2);
    min-height: 10vh;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 1rem;
}


.content{
    flex: 1;
}

/* || TOP NAV */

#top-nav {
    display: flex;
    align-items: end;
    gap: 2rem;
    padding: 2em;
}

#top-nav__links{
    display: flex;
    gap: 1rem;
}

/* || LINKS */

.link{
    color: white;
}
.link:hover{
    cursor: pointer;
    color: lightgray;
}

/* || BRANDING */

.logo {
    font-size: 1.4rem;
    color: var(--color4);
}

/* || MAIN */

.main{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
}
.main_title{
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100%;
}

.main_header{
    display: flex;
    gap: 1rem;
}

.main_header_wrapper{
    display: flex;
    align-items: end;
    gap: 1rem;
    padding: 1em;
}

/* || PROJECT CARD */

.project-card{
    border-radius: .8rem;
    padding: 1.5em;
    background-color: var(--color2);
    display: flex;
}

.project-card_title{
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-card_actions{
    display: flex;
}

.project-card_wrapper{
    flex: 1;
}
.project-card_status{
    color: white;
}

/* PROJECT DETAIL */

.project-detail{
    background-color: var(--color2);
    border-radius: .8rem;
    padding: 2em;
    color: white;
    flex-grow: 1;
    max-height: 90vh;
    overflow-y: auto;
}


/* || BUTTON */

.btn{
    padding: .6em 1.6em;
    border-radius: .8rem;
    border: solid 2px transparent;
    display: flex;
    align-items: center;
}

.btn:hover{
    cursor: pointer;
}
.btn__primary{
    background-color: var(--color4);
    color: white;
}
.btn__primary:hover{
    background-color: var(--color3);
    border: solid 2px var(--color3);
}
.btn__warning{
    background-color: var(--color5);
    color: white;
}
.btn__warning:hover{
    background-color: var(--color6);
    border: solid 2px var(--color6);
    color: white;
}

/* || LIST */

.list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* || FORM */

.input-text{
    padding: 1em;
    border-radius: .8rem;
}

.input-select{
    padding: 1em;
    border-radius: .8rem;
}

.input-select_project{
    width: 50%;
}
form{
    color: white;
}

form > div > div{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form_actions{
    margin: 2rem 0;
    display: flex;
    justify-content: end;
    gap: 1rem;
}

/* || TEXT */
.text-green {
    color: #00D100;
}
.text-red{
    color: var(--color6);
}
.text-yellow{
    color: #FFFF00;
}



