:root{
    --color1: #0F0F0F;
    --color2: #232D3F;
    --color3: #005B41;
    --color4: #008170;
}

html{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background: rgb(15,15,15);
    background: linear-gradient(120deg, rgba(15,15,15,1) 0%, rgba(0,91,65,1) 60%, rgba(28,34,45,1) 90%);
    height: 100vh;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

#top-nav {
    display: flex;
    align-items: end;
    gap: 2rem;
    padding: 2em;
}

#top-nav__links{
    display: flex;
    gap: 1rem;
}

.link{
    color: white;
}
.link:hover{
    cursor: pointer;
    color: lightgray;
}

.logo {
    font-size: 1.4rem;
    color: var(--color4);
}



