{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
<main class="main">
    <div class="main_wrapper">
        <div class="main_header">
            <h1 class="main_title">{{ project.title }}</h1>
            <div class="main_header_wrapper">
                <a class="btn btn__primary" href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>
                {{ include('project/_delete_form.html.twig') }}
            </div>
        </div>
        <div class="project-detail">
            {% apply markdown_to_html %}
                {{ project.description }}
            {% endapply %}
        </div>


    </div>
</main>




{% endblock %}
